<a href="https://colab.research.google.com/github/Nata-Felix/BibliotecaDev/blob/main/Aula_listas_Alura.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
# prompt: gerar uma lista 2d  com 5 colunas e 5 linhas usando dados de nome e altura

import random

nomes = ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Helen", "Ivy", "Jack"]
alturas = [random.uniform(1.50, 1.90) for _ in range(25)]

nomes

['Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Helen',
 'Ivy',
 'Jack']

In [14]:
nomes[1]

'Bob'

In [16]:
nomes[:1]

['Alice']

In [21]:
nomes[-2:]

['Ivy', 'Jack']

In [23]:
#adicionar nome na lista #Método append
nomes.append('Natã') #entre os parenteses colocar oque quer adicionar na lista
nomes

['Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Helen',
 'Ivy',
 'Jack',
 'Natã',
 'Natã']

In [24]:
#método extend, adiciona elemntos ao final da lista.
#Adiciona o elemento de uma lista a outra lista, intera uma lista na outra.
altura = [1.78,1.80]
alturas.extend(altura)

# Lembrando que se usar o append ele vai adicionar toda alista como um unico objeto

In [25]:
print(alturas)

[1.7169252001585327, 1.8015186281508986, 1.7405113069222713, 1.8249611469160056, 1.755543962184171, 1.7406368809649992, 1.7613589690932268, 1.7254165239324732, 1.879552828271952, 1.7546356211383898, 1.5027732748137477, 1.8209146192164956, 1.8516136260403595, 1.5766468626463903, 1.7041079836988275, 1.777641053681823, 1.7960793326137703, 1.521114590300827, 1.7896754687641792, 1.7648738181462078, 1.5912847511313595, 1.6239994850005746, 1.7224662310033867, 1.7974845030493292, 1.8966211796589154, 1.78, 1.8]

In [27]:
#Remove, remove itens da lista

nomes.remove(nomes[-1])
nomes

['Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Helen',
 'Ivy',
 'Jack',
 'Natã']

In [28]:
#insert, com esse eu posso escolher a onde quero posicionar o elemento no indice.
#insert(indice, elemento)

nomes.insert(0, 'Lucas')
nomes

['Lucas',
 'Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Helen',
 'Ivy',
 'Jack',
 'Natã']

In [29]:
#pop () Esse método remove um elemento de uma determinada
#posição da lista e o retorno com saida ne execução do metods

nomes.pop(0)
nomes

['Alice',
 'Bob',
 'Charlie',
 'David',
 'Eve',
 'Frank',
 'Grace',
 'Helen',
 'Ivy',
 'Jack',
 'Natã']

In [33]:
#index() Retorna o índice de um elemento especifico na lista

nomes.index('Natã')
print(nomes.index('Natã'))

10

In [38]:
#sort () Ordena os itens da lista. Se form nome em ordem alfabetica, se numeros
#em ordem crescente

alturas.sort()
alturas

[1.5027732748137477,
 1.521114590300827,
 1.5766468626463903,
 1.5912847511313595,
 1.6239994850005746,
 1.7041079836988275,
 1.7169252001585327,
 1.7224662310033867,
 1.7254165239324732,
 1.7405113069222713,
 1.7406368809649992,
 1.7546356211383898,
 1.755543962184171,
 1.7613589690932268,
 1.7648738181462078,
 1.777641053681823,
 1.78,
 1.7896754687641792,
 1.7960793326137703,
 1.7974845030493292,
 1.8,
 1.8015186281508986,
 1.8209146192164956,
 1.8249611469160056,
 1.8516136260403595,
 1.879552828271952,
 1.8966211796589154]